In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
file_path = './datasets/card_transdata.csv'
data = pd.read_csv(file_path)

In [5]:
data.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [7]:
missing_values = data.isnull().any(axis=1)
print("Missing Values")
print(missing_values)

Missing Values
0         False
1         False
2         False
3         False
4         False
          ...
999995    False
999996    False
999997    False
999998    False
999999    False
Length: 1000000, dtype: bool

In [8]:
duplicate = data[data.duplicated()]
print("Duplicate Rows:")
print(duplicate)

Duplicate Rows:
Empty DataFrame
Columns: [distance_from_home, distance_from_last_transaction, ratio_to_median_purchase_price, repeat_retailer, used_chip, used_pin_number, online_order, fraud]
Index: []

In [ ]:
data.dropna(axis=0, inplace=True)

In [ ]:
data.drop_duplicates(inplace=True)